body{
    background-color: rgb(250, 250, 250);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.textContainer{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    width:1000px;
}
.image{
    width: 370px;
    margin: 10% 0;
}


@media (max-width: 770px ) {
    .container {
        margin: 0 10%;
    }
    .image{
        width: 100%;
    }
}

